.custom-navbar {
    background-color: white;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    box-shadow: 0px 4px 2px -2px gray;
    position: relative;
}

.navbar-profile {
    display: flex;
    align-items: center;
    height: 100%;
}

.profile-picture {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-info {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 20px;
}

.username {
    font-size: 14px;
    font-weight: bold;
    color: black;
}

.user-id {
    font-size: 12px;
    color: gray;
}

/* Centering Trade Button and Removing White Space */
.trade-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
}

.trade-button {
    background-color: #ffc107;
    color: white;
    padding: 0 15px;  /* Only horizontal padding */
    height: 100%;  /* Full height of the navbar */
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 0 0 8px 8px;  /* Rounded bottom corners */
    box-sizing: border-box;
}

.trade-button:hover {
    background-color: #e0a800;
}

.navbar-nav {
    display: flex;
    align-items: center;
    margin-right: 15px;
}

.navbar-nav .nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 15px;
    color: black;
    text-decoration: none;
}

.navbar-nav .nav-link:hover {
    color: #007bff;
}

.navbar-nav .nav-icon {
    width: 24px;
    height: 24px;
    transition: opacity 0.3s ease;
}

.navbar-nav .nav-link span {
    font-size: 12px;
    margin-top: 2px;
    color: black;
}

.navbar-nav .nav-link:hover .nav-icon {
    opacity: 0.7;
}

.account-balance {
    font-size: 16px;
    color: black;
    font-weight: bold;
    margin-right: 15px;
}

.account-balance::before {
    content: 'Balance: ';
    font-weight: normal;
    color: gray;
}
