.UploadBox{

background-color: gray;
display: grid;
place-items: center;
height: 30%;
position: relative;

}

#file-upload{
    align-items: center;
}

#btn-submit{
    position:absolute;
    bottom: 3%;
    right: 3%;
}

