.Upload{

    background-color: white;
    padding: 2%;
    width: 79%;
    height: calc(96vh - 64px);
    overflow: auto;
}

.UploadBox{

background-color: gray;
display: grid;
place-items: center;
height: 30%;
position: relative;

}

#file-upload{
    align-items: center;
}

#btn-submit{
    position:absolute;
    bottom: 3%;
    right: 3%;
}

@media (max-width: 1200px){


.Upload{
    height: calc(100vh - 60px) !important;
    width: 100% !important;
    margin: 0% !important;
}
}
